{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"tabWidth": 2,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"printWidth": 80,
				"proseWrap": "always"
			}
		},
		{
			"files": "*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"trailingComma": "none"
			}
		},
		{
			"files": "*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.yaml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "package.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}